html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

body {
	background: url(/background.png) repeat-x;
	background-size: contain;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
